
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"/>
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar ">
        <div class="container animate_animated animate__slideInDown">
            <a class="navbar-brand" href="#">
                <img src="http://operadoras-moviles.com/wp-content/uploads/2010/03/movistar-banner.jpg" class="logo-image" width="300px" height="75px" alt="logo"/>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Upload file</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/rated-cdrs">Show CDR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload-client-phones">Upload clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clients">Show clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Mask-->
    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div id="filter">
                    <select class="browser-default custom-select" id="dateSelect" onclick="filterByDate()">
                        <option selected="" value="0">Select date</option>
                    </select>
                </div>
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-28 animate_animated animate__fadeIn table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead class="blue-gradient white-text">
                            <tr>
                                <th scope="col">Origin Number</th>
                                <th scope="col">Destiny Number</th>
                                <th scope="col">Date of call</th>
                                <th scope="col">Hour of call</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Rated Date</th>
                                <th scope="col">Rated Time</th>
                            </tr>
                            </thead>
                            <tbody id="cdrTable" class="white-text">
                            <tr th:each="cdr: ${cdrs}">
                                <th scope="row" th:text="${cdr.originNumber}"></th>
                                <th scope="row" th:text="${cdr.destinyNumber}"></th>
                                <th scope="row" th:text="${cdr.startCallTime.dayOfMonth + '-' + cdr.startCallTime.month + '-' + cdr.startCallTime.year}"></th>
                                <th scope="row" th:text="${cdr.startCallTime.hour + ':' + cdr.startCallTime.minute}"></th>
                                <th scope="row" th:text="${cdr.timeDuration}"></th>
                                <th scope="row" th:text="${cdr.cost}"></th>
                                <th scope="row" th:text="${cdr.updatedAt.dayOfMonth + '-' + cdr.updatedAt.month + '-' + cdr.updatedAt.year}"></th>
                                <th scope="row" th:text="${cdr.updatedAt.hour + ':' + cdr.updatedAt.minute}"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
<script src="https://buttons.github.io/buttons.js"></script>
    <script>
        /*<![CDATA[*/
       
        function getFilteredCDR(date) {
            console.log(date);
            result = "";
            for(let i=0;i<date.length; i++) {
                result+= "<tr>"
                result+= "<td>" + date[i].originNumber + "</td>"
                result+= "<td>" + date[i].destinyNumber + "</td>"
                result+= "<td>" + date[i].startCallTime.date.day + "-" + date[i].startCallTime.date.month + "-" + date[i].startCallTime.date.year + "</td>"
                result+= "<td>" + date[i].startCallTime.time.hour + ":" + date[i].startCallTime.time.minute + "</td>"
                result+= "<td>" + date[i].timeDuration + "</td>"
                result+= "<td>" + date[i].cost + "</td>"
                result+= "<td>" + date[i].updatedAt.date.day + "-" + date[i].updatedAt.date.month + "-" + date[i].updatedAt.date.year +"</td>"
                result+= "<td>" + date[i].updatedAt.time.hour + ":" + date[i].updatedAt.time.minute + "</td>"
                result+= "</tr>"
            }
            return result;
        }

        function filterByDate() {
            let resourceUrl = "";
            if($("#dateSelect").val() == "0") {
                resourceUrl = "/cdr"
            } else {
                resourceUrl = "/rated-date-time/" + $("#dateSelect").val().replace(' ', 'T')
            }
            $.ajax({
                type: "GET",
                url: resourceUrl,
                dataType: "json",
                contentType: "application/json",
                success: function (res) {
                    $('#cdrTable > tr').remove();
                    $('#cdrTable').append(getFilteredCDR(res.result))
                }
            })
        }
        $.ajax({
                type: "GET",
                url: "/rated-date-time",
                dataType: "json",
                contentType: "application/json",
                success: function (res) {
                    for(let i=0;i< res.ratedTimes.length;i++) {
                        $('#dateSelect').append("<option " + "value='" + res.ratedTimes[i] +"' >" + res.ratedTimes[i] +"</option>");
                    }
                }
            });

            /*]]>*/
    </script>

<style>
html,
body,
header,
#intro {
height: 100%;
}
#intro {
background: url("https://www.globalvoices.co.uk/wp-content/uploads/2015/04/shutterstock_226031824.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#filter {
max-width:50%;
position: relative;
left: -50px;
top: -120px;
}

.navbar-nav{
    font-size: 25px;
    margin-bottom: 10px;
}

.table{
    font-size: 30px;
    position: relative;
    top: 35px;
}

.my-custom-scrollbar {
position: relative;
height: 350px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>
</body>
</html>